  .table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  thead {
    background-color: rgb(65, 132, 42);
    color: #eee;
  }
  tbody tr:nth-of-type(even) {
    background-color: rgb(178,214, 163);
  }
  td, th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  th, table caption {
    font-family: Gabriola, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  td{
    background-color: rgb(178,214, 163);
  }
  tbody tr td form {
    width: auto;
    border: none;
    padding: 0;
  }
  table caption {
    font-weight: 600;
    caption-side: top;
    text-align: center;
    color: #190f0f;
  }